.main{
    margin:auto;
}
p{
    margin-top:50px;
    color:#111111;
}
#slider{
    display:grid;
    place-items:center;
    height: 50px;
}
#bar{
    width: 100%;
    height: 30px;
}
#submit{
    height:40px;
    display:grid;
    place-items:center;
}
input[type=range] {
height: 40px;
-webkit-appearance: none;
margin: 10px 0;
width: 100%;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 17px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #000000;
background: #5A84A8;
border-radius: 13px;
border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
box-shadow: 1px 1px 1px #000031;
border: 1px solid #00001E;
height: 32px;
width: 26px;
border-radius: 9px;
background: #FFFFFF;
cursor: pointer;
-webkit-appearance: none;
margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #5A84A8;
}
input[type=range]::-moz-range-track {
width: 100%;
height: 17px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #000000;
background: #5A84A8;
border-radius: 13px;
border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 1px #000031;
border: 1px solid #00001E;
height: 32px;
width: 26px;
border-radius: 9px;
background: #FFFFFF;
cursor: pointer;
}
input[type=range]::-ms-track {
width: 100%;
height: 17px;
cursor: pointer;
animate: 0.2s;
background: transparent;
border-color: transparent;
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: #5A84A8;
border: 0px solid #010101;
border-radius: 26px;
box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
background: #5A84A8;
border: 0px solid #010101;
border-radius: 26px;
box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
margin-top: 1px;
box-shadow: 1px 1px 1px #000031;
border: 1px solid #00001E;
height: 32px;
width: 26px;
border-radius: 9px;
background: #FFFFFF;
cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
background: #5A84A8;
}
input[type=range]:focus::-ms-fill-upper {
background: #5A84A8;
}
#Submit{
    display:grid;
    place-items:center;
}
#icon{
font-family: arial;
font-weight: bold;
color: #25496E !important;
font-size: 14px;
text-shadow: 0px 1px 0px #DEDEDE;
box-shadow: 1px 1px 1px #42368F;
padding: 10px 25px;
border-radius: 10px;
border: 2px solid #3968A6;
background: #EEEEEE;
height:40px;
}
#icon:hover {
color: #14396A !important;
background: #468CCF;
background: linear-gradient(to top, #468CCF, #63B8EE);
}