        * {
                margin: 0;
                padding: 0;
}
/* body{
        background: #111;
        font-family:sans-serif;
}
.main{
        width: 60%;
        margin:50% auto;
        position: relative;
}
#slider{
        -webkit-appearance:none;
        width:100%;
        height:20px;
        background: linear-gradient(-90deg,green,yellow,red);
        outline:none;
        border-radius:3px;
}
#slider::-webkit-slider-thumb{
        -webkit-appearance:none;
        width:48px;
        height:48px;
        cursor:point;
        z-index:3;
        position:relative;
}
#selector{
        height:104px;
        width:48px;
        position:absolute;
        bottom:-10px;
        left:50%;
        transform:translateX(-50%);
        z-index:2;
}
.SelectBtn{
        height:48px;
        width:48px;
        background-image:url(icon.png);
        background-size:cover;
        background-position:center;
        border-radius:50%;
        position:absolute;
        bottom:0;
}
#SelectValue{
        width:48px;
        height:40px;
        position:absolute;
        top:0;
        background:#23dafc;
        border-radius:4px;
        text-align:center;
        line-height:45px;
        font-size:20px;
        font-weight:bold;
}
#SelectValue::after{
        content:'';
        border-top:17px solid #23dafc;
        border-left:24px solid#000;
        border-right:24px solid#000;
        position:absolute;
        bottom:-14px;
        left:0;
}
#progressBar{
        width:0;
        height:20px;
        background:#111;
        border-radius:3px;
        position: absolute;
        top:0;
        left:100%;
} */


      h1 {
        text-align: center;
      }
       
      body {
        margin: 20px auto;
        font-family: "Lato";
        font-weight: 300;
      }
       
      form {
        padding: 15px 25px;
        display: flex;
        gap: 10px;
        justify-content: center;
      }
       
      form label {
        font-size: 1.5rem;
        font-weight: bold;
      }
       
      input {
        font-family: "Lato";
      }
       
      a {
        color: #0000ff;
        text-decoration: none;
      }
       
      a:hover {
        text-decoration: underline;
      }
       
      #wrapper,
      #loginform {
        margin: 0 auto;
        padding-bottom: 25px;
        background: #eee;
        width: 600px;
        max-width: 100%;
        border: 2px solid #212121;
        border-radius: 4px;
      }
       
      #loginform {
        padding-top: 18px;
        text-align: center;
      }
       
      #loginform p {
        padding: 15px 25px;
        font-size: 1.4rem;
        font-weight: bold;
      }
       
      #chatbox {
        text-align: left;
        margin: 0 auto;
        margin-bottom: 25px;
        padding: 10px;
        background: #fff;
        height: 300px;
        width: 530px;
        border: 1px solid #a7a7a7;
        overflow: auto;
        border-radius: 4px;
        border-bottom: 4px solid #a7a7a7;
      }
       
      #usermsg {
        flex: 1;
        border-radius: 4px;
        border: 1px solid #ff9800;
      }
       
      #name {
        border-radius: 4px;
        border: 1px solid #ff9800;
        padding: 2px 8px;
      }
       
      #submitmsg,
      #enter{
        background: #ff9800;
        border: 2px solid #e65100;
        color: white;
        padding: 4px 10px;
        font-weight: bold;
        border-radius: 4px;
      }
       
      .error {
        color: #ff0000;
      }
       
      #menu {
        padding: 15px 25px;
        display: flex;
      }
       
      #menu p.welcome {
        flex: 1;
      }

      h3 {
        text-align: center;
      }

      
       
      a#exit {
        color: white;
        background: #c62828;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: bold;
      }
       
      .msgln {
        margin: 0 0 5px 0;
      }
       
      .msgln span.left-info {
        color: orangered;
      }
       
      .msgln span.chat-time {
        color: #666;
        font-size: 60%;
        vertical-align: super;
      }
       
      .msgln b.user-name, .msgln b.user-name-left {
        font-weight: bold;
        background: #546e7a;
        color: white;
        padding: 2px 4px;
        font-size: 90%;
        border-radius: 4px;
        margin: 0 5px 0 0;
      }
       
      .msgln b.user-name-left {
        background: orangered;
      }